RewriteOptions inherit

RewriteEngine On

# Ensure favicon is served from the root
RewriteCond %{REQUEST_URI} !^/favicon.ico$
RewriteRule ^favicon.ico$ /favicon.ico [L]

# Ensure site.webmanifest is served from the root
RewriteCond %{REQUEST_URI} !^/site.webmanifest$
RewriteRule ^site.webmanifest$ /site.webmanifest [L]

# Explicitly serve chapters.html for the /chapters URL
RewriteRule ^chapters$ /chapters.html [L]

# Rewrite any request for a URL without an extension to the corresponding .html file
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirect from .html to URL without extension
RewriteRule ^(.*)\.html$ /$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^/?$ "https\:\/\/nullbourne\.com\/home" [R=301,L]

<FilesMatch "^misc/.*\.json$">
    FileETag None
    <IfModule mod_headers.c>
        Header unset ETag
    </IfModule>
</FilesMatch>